h2{text-align: center;
font-weight: 400;}
.breakfast
{
  margin-left:350px;
}
.navlink
{
   margin-left:80px;
  
}
button{
 text-decoration: none;
 color:white;
 background-color: rgb(216, 122, 15);
 width:80px;
 font-size: 15px;
 font-weight: 200;
 height:30px;


}
.card 
{
  max-width: 400px;
  display:inline;
  float:left;
  margin-top:80px;
  height:200px;
  margin-left:50px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 4px;
  border-style: groove;
}
